.box {
  width: 860px;
  margin: 180px auto;
  background-color: #efefef;
  padding: 30px;
}

html {
  background-color: rgb(40, 40, 40);
}

body {
  background-color: rgb(40, 40, 40);
}

.row {
  background-color: rgb(40, 40, 40);
  width: 100vw;
}

h1 {
  color: #e53a35;
}

a.btn {
  border-color: #e53a35;
  color: #e53a35;
}

a.btn:hover {
  border-color: #e53a35;
  background-color: #e53a35;
  color: white;
}

a {
  color: #e53a35;
}

input.btn {
  border-color: #e53a35;
  background-color: #e53a35;
  color: white;
}

input.btn:hover {
  border-color: #e53a35;
  background-color: rgba(0, 0, 0, 0);
  color: #e53a35;
}

.button-row {
  display: flex;
  justify-content: space-between;
}
