.no-profile {
  width: 220px;
  height: 330px;
  background-color: white;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-4-user-grey-d8fe957375e70239d6abdd549fd7568c89281b2179b5f4470e2e12895792dfa5.svg");
  outline-color: #d5d5d5;
  outline-width: 1px;
  outline-style: solid;
}

.no-poster {
  width: 150px;
  height: 225px;
  background-color: white;
  background-image: url("https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-38-picture-grey-c2ebdbb057f2a7614185931650f8cee23fa137b93812ccb132b9df511df1cfac.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  outline-width: 1px;
  outline-style: solid;
}

.other-info {
  display: flex;
  justify-content: space-between;
}

.aka {
  width: 50%;
}

.row {
  padding-top: 60px;
}

.tab-pane.fade {
  display: none;
}

.tab-pane.fade.active {
  display: block;
}

ul.nav .nav-link.active {
  border-color: black;
  border-bottom-color: #efefef;
  background-color: #efefef;
  color: #e53a35;
  font-weight: bold;
}

ul.nav .nav-link.active:hover {
  border-bottom-color: #efefef;
}

ul.nav .nav-link {
  border-bottom-color: black;
  color: black;
}

ul.nav .nav-link:hover {
  border-bottom-color: black;
}

.display {
  background-color: #efefef;
  padding: 30px;
  padding-bottom: 0px;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  border-top-style: none;
  box-sizing: border-box;
  height: 600px;
  overflow-y: scroll;
  margin-bottom: 60px;
}

.scroll-content {
  display: flex;
  width: 100%;
  overflow-x: scroll;
  margin-bottom: 30px;
  align-items: stretch;
  padding-bottom: 10px;
}

.movie-tile {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
}

.movie-tile > a > img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.movie-tile > a > .no-profile {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.movie-tile > .about {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: #d5d5d5;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 8px 0px;
  padding: 10px;
  font-size: 16px;
  height: 100%;
  text-align: center;
  justify-content: space-evenly;
}

.movie-tile p {
  margin: 0;
}

.about a {
  color: black;
}

.more-tile {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  min-width: 138px;
}

.more-tile > ul.nav .nav-link {
  background-color: #e53a35;
  color: white;
  border-radius: 20px;
  border-style: none;
}

.year-block {
  display: flex;
  justify-content: space-between;
  width: 100%;
  outline-width: 1px;
  outline-style: solid;
  outline-color: #d5d5d5;
  padding: 15px;
  background-color: white;
}

.film-bullets {
  width: 90%;
}

.year-block a {
  color: black;
}

.year-block a:hover {
  color: #e53a35;
}

.year-block h4 {
  margin: 0px;
  height: auto;
}

.year-block ul {
  margin: 0px;
}

#film-tab-pane h2 {
  margin-bottom: 20px;
}

#film-tab-pane > div {
  margin-bottom: 30px;
}

.col-md-9 > div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 330px;
  padding: 0px;
  margin: 0px;
}
