.user-picture {
  width: 150px;
  height: 150px;
  background-color: white;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  outline-style: solid;
  outline-color: #d5d5d5;
  outline-width: 1px;
}

.results > section {
  padding: 30px;
  padding-bottom: 15px;
  height: 800px;
  overflow-y: scroll;
}

.results {
  padding: 0px;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  border-top-style: none;
  margin-bottom: 60px;
}
