{% extends 'base.html' %} {% block content %}
<div class="play-area"></div>

<div class="UI">
  <form id="search-bar" action="/didntwork">
    <input type="text" name="guess" id="guess" />
    <input type="submit" />
  </form>
  <div class="display">
    <ul class="search-results"></ul>
  </div>
</div>
<script
  src="https://code.jquery.com/jquery-3.7.1.js"
  integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
  crossorigin="anonymous"
></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/static/js/dom-manipulation.js"></script>
<script src="/static/js/game-logic.js"></script>
{% endblock %}
