{% extends 'base.html' %} {%block title%}Flixxly Feed{%endblock%} {%block
content%}
<div class="container">
  <div class="row">
    <aside class="col-md-3">
      {% if g.user %}
      <a href="/" id="Following">
        <div id="following-tab" class="tabber">
          <i class="bi bi-rss-fill"></i> Following
        </div>
      </a>
      {% endif %}
      <a href="/trending-movies" id="trending-movies">
        <div id="tm-tab" class="tabber">
          <i class="bi bi-camera-reels"></i> Trending Movies
        </div>
      </a>
      <a href="/trending-people" id="trending-people">
        <div id="tp-tab" class="tabber">
          <i class="bi bi-person-up"></i> Trending People
        </div>
      </a>
      <a href="/in-theatres" id="in-theatres">
        <div id="theatres-tab" class="tabber">
          <i class="bi bi-ticket-perforated"></i> In Theatres
        </div>
      </a>
      {% if g.user %}
      <a href="/users/{{g.user.id}}">
        <div id="profile-tab" class="tabber">
          <i class="bi bi-file-person"></i> Profile
        </div>
      </a>
      {% endif %}
    </aside>
    <div class="col-md-9 contents">{% block display %} {% endblock %}</div>
  </div>
</div>
{%endblock%}
