{% extends 'base.html' %} {%block title%}Sign in{%endblock%} {%block styling%}
<link rel="stylesheet" href="/static/css/login-register.css" />{%endblock%}
{%block content%}
<div class="row">
  <div class="container">
    <div class="box">
      <h1>Sign in</h1>
      <p>
        Returning users log in below. If you are a new user, click
        <a href="/register">here</a> to register.
      </p>
      <form action="/login" method="POST">
        {{ form.hidden_tag() }} {% for field in form %} {% if
        field.widget.input_type != 'hidden' %}
        <p>{{ field.label }} {{ field(class_="form-control") }}</p>
        <p>
          <small>{% for error in field.errors %}{{ error }}{% endfor %}</small>
        </p>
        {% endif %} {% endfor %}
        <input type="submit" value="Log in" class="btn btn-outline-primary" />
      </form>
    </div>
  </div>
</div>
{%endblock%}
