{% extends 'base.html' %} {%block title%}{{person['name']}}{%endblock%} {%block
styling%} <link rel="stylesheet" href="/static/css/person.css" /> {%endblock%}
{%block content%}
<div class="container">
  <div class="row">
    <aside class="col-md-3">
      <div>
        {% if person['profile_path'] %}
        <img
          src="https://media.themoviedb.org/t/p/w220_and_h330_face{{ person['profile_path'] }}"
          alt=""
        />
        {%else%}
        <div class="no-profile"></div>
        {%endif%}
      </div>
    </aside>
    <div class="col-md-9">
      <div>
        <div><h1>{{person['name']}}</h1></div>
        <div>
          {% if g.user %} {% if g.user.is_following(person['id']) %}
          <form method="POST" action="/people/remove-follow/{{ person.id }}">
            <button class="btn btn-outline-primary btn-sm">Unfollow</button>
          </form>
          {% else %}
          <form method="POST" action="/people/add-follow/{{ person.id }}">
            <button class="btn btn-primary btn-sm">Follow</button>
          </form>
          {% endif %} {% endif %}
        </div>
      </div>
    </div>
    <div class="row">
      <ul class="nav nav-tabs nav-justified">
        <li class="nav-item">
          <div
            class="nav-link active"
            data-bs-toggle="tab"
            data-bs-target="#info-tab-pane"
            id="info-tab"
          >
            Basic Info
          </div>
        </li>
        <li class="nav-item">
          <div
            class="nav-link"
            id="film-tab"
            data-bs-toggle="tab"
            data-bs-target="#film-tab-pane"
          >
            Filmography
          </div>
        </li>
      </ul>
      <div class="display">
        <div
          class="tab-pane fade show active"
          id="info-tab-pane"
          role="tabpanel"
          aria-labelledby="info-tab"
          tabindex="0"
        >
          <h2>Biography</h2>
          <p>{{person['biography']}}</p>
          <div class="other-info">
            <div>
              <div>
                <b>Birthday</b>
                <p>{{birthdate}} ({{age}})</p>
              </div>
              <div>
                <b>Place of Birth</b>
                <p>{{person['place_of_birth']}}</p>
              </div>
              <div>
                <b>Gender</b>
                <p>{{gender}}</p>
              </div>
              <div>
                <b>Known For</b>
                <p>{{person['known_for_department']}}</p>
              </div>
            </div>
            {% if person['also_known_as'] %}
            <div class="aka">
              <b>Also known as:</b>
              <p>
                {% for name in person['also_known_as']%} {% if
                person['also_known_as'].index(name) == 0%} {{name}} {%else%} ,
                {{name}} {%endif%} {% endfor %}
              </p>
            </div>
            {%endif%}
          </div>
          {% if pop_movies %}
          <h2>Popular Films</h2>
          <div class="known-films">
            <div class="scroll-content">
              {% for movie in pop_movies %}
              <div class="movie-tile">
                <a href="/movies/{{movie['id']}}">
                  {% if movie['poster_path']%}
                  <img
                    src="https://media.themoviedb.org/t/p/w150_and_h225_face{{movie['poster_path']}}"
                    alt=""
                  />
                  {%else%}
                  <div class="no-poster"></div>
                  {%endif%}
                </a>
                <div class="about">
                  <a href="/movies/{{movie['id']}}"> {{movie['title']}} </a>
                </div>
              </div>
              {% endfor %}
              <div class="more-tile">
                <ul class="nav nav-tabs nav-justified">
                  <li class="nav-item">
                    <div
                      class="nav-link"
                      id="film-btn"
                      data-bs-toggle="tab"
                      data-bs-target="#film-tab-pane"
                    >
                      See all credits
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          {%endif%}
        </div>
        <div
          class="tab-pane fade"
          id="film-tab-pane"
          role="tabpanel"
          aria-labelledby="film-tab"
          tabindex="0"
        >
          <h2>Filmography</h2>
          <div class="cast-films">
            <h3>Acting</h3>
            <div class="year-block">
              <h4>TBA</h4>
              <div class="film-bullets">
                <ul>
                  {% for movie in person['movie_credits']['cast'] if
                  movie['release_date'] == '' %}
                  <li>
                    <div>
                      <div>
                        <a href="/movies/{{movie['id']}}">
                          <b>{{movie['title']}}</b>
                        </a>
                      </div>
                      {% if movie['character'] %}
                      <small>as {{movie['character']}}</small>
                      {%endif%}
                    </div>
                  </li>
                  {%endfor%}
                </ul>
              </div>
            </div>
            {% for year in release_years['cast'] %}
            <div class="year-block">
              <h4>{{year}}</h4>
              <div class="film-bullets">
                <ul>
                  {% for movie in person['movie_credits']['cast'] if
                  movie['release_date'][:4] == year %}
                  <li>
                    <div>
                      <div>
                        <a href="/movies/{{movie['id']}}">
                          <b>{{movie['title']}}</b>
                        </a>
                      </div>
                      {% if movie['character'] %}
                      <small>as {{movie['character']}}</small>
                      {%endif%}
                    </div>
                  </li>
                  {%endfor%}
                </ul>
              </div>
            </div>
            {% endfor %}
          </div>
          {% if person['movie_credits']['crew']%}
          <div class="crew-films">
            <h3>Crew</h3>
            <div class="year-block">
              <h4>TBA</h4>
              <div class="film-bullets">
                <ul>
                  {% for movie in person['movie_credits']['crew'] if
                  movie['release_date'] == '' %}
                  <li>
                    <div>
                      <div>
                        <a href="/movies/{{movie['id']}}">
                          <b>{{movie['title']}}</b>
                        </a>
                      </div>
                      {% if movie['job'] %}
                      <small>... {{movie['job']}}</small>
                      {%endif%}
                    </div>
                  </li>
                  {%endfor%}
                </ul>
              </div>
            </div>
            {% for year in release_years['crew'] %}
            <div class="year-block">
              <h4>{{year}}</h4>
              <div class="film-bullets">
                <ul>
                  {% for movie in person['movie_credits']['crew'] if
                  movie['release_date'][:4] == year %}
                  <li>
                    <div>
                      <div>
                        <a href="/movies/{{movie['id']}}">
                          <b>{{movie['title']}}</b>
                        </a>
                      </div>
                      {% if movie['job'] %}
                      <small>... {{movie['job']}}</small>
                      {%endif%}
                    </div>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
            {%endfor%}
          </div>
          {%endif%}
        </div>
      </div>
    </div>
  </div>
  <script src="/static/js/person.js"></script>
  {%endblock%}
</div>
