{% extends 'base.html' %} {% block title %}New User Registration{% endblock
%}{%block styling%}
<link rel="stylesheet" href="/static/css/login-register.css" />{%endblock%}
{%block content%}
<div class="row">
  <div class="container">
    <div class="box">
      <h1>New User Sign Up</h1>
      <p>Register below to create an account!</p>
      <form action="/register" method="POST">
        {{ form.hidden_tag() }} {% for field in form %} {% if
        field.widget.input_type != 'hidden' %}
        <p>{{ field.label }} {{ field(class_="form-control") }}</p>
        <p>
          <small>{% for error in field.errors %}{{ error }}{% endfor %}</small>
        </p>
        {% endif %} {% endfor %}
        <input type="submit" value="Register" class="btn btn-outline-primary" />
      </form>
    </div>
  </div>
</div>
{% endblock %}
