{% extends 'base.html' %} {% block title %}New User Registration{% endblock %}
{% block content %}
<h1 class="display-1">New User Sign Up</h1>
<p class="lead">Register below to create an account!</p>
<form action="/register" method="POST">
  {{ form.hidden_tag() }} {% for field in form %} {% if field.widget.input_type
  != 'hidden' %}
  <p>{{ field.label }} {{ field(class_="form-control") }}</p>
  <p><small>{% for error in field.errors %}{{ error }}{% endfor %}</small></p>
  {% endif %} {% endfor %}
  <input type="submit" value="Register" class="btn btn-primary" />
</form>
{% endblock %}
