{% extends 'home.html' %} {%block styling%}
<link rel="stylesheet" href="/static/css/home.css" />
{%endblock%} {%block display%}
<section class="trending-people">
  {% for person in people %}
  <div class="card person-card">
    <div class="card-contents">
      <a href="/people/{{person['id']}}">
        {% if person['profile_path'] %}
        <img
          src="https://image.tmdb.org/t/p/w150_and_h150_face{{person['profile_path']}}"
          alt=""
        />
        <!-- <img
          src="https://media.themoviedb.org/t/p/w220_and_h330_face{{person['profile_path']}}"
          alt=""
        /> -->
        {%else%}
        <div class="no-profile"></div>
        {%endif%}
      </a>
      <div class="text">
        <div class="top-card">
          <a href="/people/{{person['id']}}">
            <div><h3>{{person['name']}}</h3></div>
          </a>
          <div>
            {% if g.user %} {% if g.user.is_following(person['id']) %}
            <form
              method="POST"
              action="/people/remove-follow/{{ person['id'] }}"
            >
              <button class="btn btn-outline-primary btn-sm">Unfollow</button>
            </form>
            {% else %}
            <form method="POST" action="/people/add-follow/{{ person['id'] }}">
              <button class="btn btn-primary btn-sm">Follow</button>
            </form>
            {% endif %} {%endif%}
          </div>
        </div>
        <div class="bottom-card">
          <div>Known for: {{person['known_for_department']}}</div>
          <div>
            {% for movie in person['known_for'] %} {% if
            person['known_for'].index(movie) == 0 %}
            <a href="/movies/{{movie['id']}}">{{movie['title']}}</a>
            {% else %},
            <a href="/movies/{{movie['id']}}">{{movie['title']}}</a> {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</section>
{% endblock %}
